<nav class="top-bar" data-topbar role="navigation" ng-controller="DmaNavbarCtrl as nav">
    <ul class="title-area">
        <li class="name">
            <h1><a ui-sref="main">DM's Assistant</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul ng-show="nav.isLoggedIn()" class="left">
            <li ui-sref-active="active">
                <a ui-sref="campaignManager">Campaign Manager</a>
            </li>
        </ul>
        <ul class="right">
            <li class="divider"></li>
            <li ng-show="!nav.isLoggedIn()" ui-sref-active="active">
                <a ui-sref="account.signup">Sign up</a>
            </li>
            <!--<li ng-show="!nav.isLoggedIn()" ng-class="{active: nav.isActive('login')}">-->
            <li ng-show="!nav.isLoggedIn()" ui-sref-active="active">
                <a ui-sref="account.login">Login</a>
            </li>
            <li ng-show="nav.isLoggedIn()" class="has-dropdown">
                <a>Hello, {{ nav.getUsername() }}</a>
                <ul class="dropdown">
                    <li ui-sref-active="active"><a ui-sref="account.settings">Settings</a></li>
                    <li><a href="#" ng-click="nav.logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
