<div class="row">
    <div class="small-12 column">
        <h1>Login</h1>
    </div>
</div>
<form class="form" name="form" ng-submit="login.login(form)" novalidate>
    <div class="row">
        <div class="column">
            <!-- EMAIL -->
            <label ng-class="{'error': login.submitted && form.email.$invalid}">Email
                <input type="email" name="email" ng-model="login.user.email" required>
            </label>
            <small class="error" ng-show="login.submitted && form.email.$invalid">
                {{ login.errors.email }}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <!-- PASSWORD -->
            <label ng-class="{'error': login.submitted && form.password.$invalid}">Password
                <input type="password" name="password" ng-model="login.user.password" required>
            </label>
            <small class="error" ng-show="login.submitted && form.password.$invalid">
                {{ login.errors.password }}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <small class="error" ng-show="login.submitted && !!login.errors.other">
                {{ login.errors.other }}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <button class="large radius button" type="submit">
                Login
            </button>
            <a class="large secondary radius button" ui-sref="account.signup">
                Signup
            </a>
        </div>
    </div>
</form>