@import "../scss/settings";
@import "../bower_components/foundation-apps/scss/foundation";
@import "../bower_components/font-awesome/scss/font-awesome";

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}