.campaign-list-nodes {
  list-style: none;
  margin: 0;
}

.campaign-list-node {
  min-height: 20px;
  line-height: 20px;
}

.campaign-list-handle {
  background-color: #007295;
  padding: 10px 10px;
}

.campaign-title {
  background-color: #687074;
  color: #ffffff;
  border: 1px solid #dae2ea;
}

.adventure-title {
  background-color: #f8faff;
  color: #7c9eb2;
  border: 1px solid #dae2ea;
  border-top: none;
}

.campaign-list-nodes .campaign-list-nodes {
  padding-left: 20px;
}

.toggle-button {
  margin: 0;
}