<div class="row">
    <div class="row">
        <div class="column">
            <h3>Campaigns</h3>
            <ol class="campaign-list-nodes">
                <li ng-repeat="campaign in campaignList.campaigns" class="campaign-list-node">
                    <div class="campaign-list-handle campaign-title">
                        <div ng-click="campaignList.toggle(campaign)" class="tiny radius button toggle-button">
                            <i class="fa"
                               ng-class="{'fa-angle-right': !campaign.collapsed, 'fa-angle-down': campaign.collapsed}"></i>
                        </div>
                        <span style="vertical-align: middle">{{campaign.name}}</span>
                    </div>
                    <ol class="campaign-list-nodes" ng-show="!campaign.collapsed">
                        <li ng-repeat="adventure in campaign.adventures" class="campaign-list-node">
                            <div class="campaign-list-handle adventure-title">
                                <div>{{adventure.name}}</div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>
<!--<div class="row">-->
<!--<div class="row" ui-tree drag-enabled="false">-->
<!--<div class="column">-->
<!--<h3>Campaigns</h3>-->
<!--<ol ui-tree-nodes ng-model="campaignList.campaigns">-->
<!--<li ng-repeat="campaign in campaignList.campaigns" ui-tree-node>-->
<!--<div class="campaign-list-handle" ui-tree-handle ng-show="!group.editing">-->
<!--<div>{{campaign.name}}</div>-->
<!--</div>-->
<!--<div class="campaign-list-handle" ui-tree-handle ng-show="group.editing">-->
<!--<div>Editing {{campaign.name}}</div>-->
<!--</div>-->
<!--<ol ui-tree-nodes="" ng-model="campaign.adventures">-->
<!--<li ng-repeat="adventure in campaign.adventures" ui-tree-node>-->
<!--<div ui-tree-handle>-->
<!--{{adventure.name}}-->
<!--</div>-->
<!--</li>-->
<!--</ol>-->
<!--</li>-->
<!--</ol>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="row" ui-tree drag-enabled="false">-->
<!--<div class="column">-->
<!--<h3>Campaigns</h3>-->
<!--<ol ui-tree-nodes ng-model="campaignList.campaigns">-->
<!--<li ng-repeat="campaign in campaignList.campaigns" ui-tree-node>-->
<!--<div class="campaign-list-handle" ui-tree-handle ng-show="!group.editing">-->
<!--<div>{{campaign.name}}</div>-->
<!--</div>-->
<!--<div class="campaign-list-handle" ui-tree-handle ng-show="group.editing">-->
<!--<div>Editing {{campaign.name}}</div>-->
<!--</div>-->
<!--<ol ui-tree-nodes="" ng-model="campaign.adventures">-->
<!--<li ng-repeat="adventure in campaign.adventures" ui-tree-node>-->
<!--<div ui-tree-handle>-->
<!--{{adventure.name}}-->
<!--</div>-->
<!--</li>-->
<!--</ol>-->
<!--</li>-->
<!--</ol>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--
<div class="col-lg-6" ui-tree="options">
    <h3>Groups &amp; Categories</h3>
    <ol ui-tree-nodes ng-model="groups" type="group">
        <li ng-repeat="group in groups" ui-tree-node>
            <div class="group-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" nodrag ng-click="removeGroup(group)"><i
                        class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" nodrag ng-click="editGroup(group)"><i
                        class="glyphicon glyphicon-pencil"></i></a>

                <div>&nbsp;{{group.name}}</div>
            </div>
            <div class="group-title angular-ui-tree-handle" nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="groupName">Group name</label>
                        <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">Save</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">Cancel</button>
                </form>
            </div>
            <ol ui-tree-nodes ng-model="group.categories" type="category">
                <li ng-repeat="category in group.categories" ui-tree-node>
                    <div class="category-title angular-ui-tree-handle">
                        <a href="" class="btn btn-danger btn-xs pull-right" nodrag
                           ng-click="removeCategory(group, category)"><i class="glyphicon glyphicon-remove"></i></a>

                        <div>
                            &nbsp;{{category.name}}
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="angular-ui-tree-nodes" nodrag>
                <li class="angular-ui-tree-node">
                    <div class="category-title angular-ui-tree-handle">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="categoryName">Category name</label>
                                <input type="text" class="form-control" ng-model="group.newCategoryName"
                                       placeholder="Category name">
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="addCategory(group)">Add Category
                            </button>
                        </form>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
    <ol class="angular-ui-tree-nodes">
        <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="groupName">Group name</label>
                        <input type="text" class="form-control" id="groupName" placeholder="Group name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addGroup()">Add Group</button>
                </form>
            </div>
        </li>
    </ol>
</div>-->
