<!--<h1>Campaign Manager</h1>-->

<div class="row full-width">
    <div class="small-12 medium-4  large-3 sidebar column">
        <div ui-view="campaignList"></div>
    </div>
    <div class="small-12 medium-8 large-9 column">
        <div ui-view="mainWindow"></div>
    </div>
</div>
