<div class="row">
    <div class="column small-12">
        <h1>Sign Up</h1>
    </div>
</div>
<form name="form" ng-submit="signup.register(form)" novalidate>
    <div class="row">
        <div class="medium-6 column">
            <!-- FIRST NAME -->
            <label ng-class="{'error': signup.submitted && form.firstName.$invalid}">First Name
                <input name="firstName" type="text" class="radius" ng-model="signup.user.firstName" required/>
            </label>
            <small class="error" ng-show="signup.submitted && form.firstName.$invalid">
                {{ signup.errors.firstName }}
            </small>
        </div>
        <div class="medium-6 column">
            <!-- LAST NAME -->
            <label ng-class="{'error': signup.submitted && form.lastName.$invalid}">Last Name
                <input name="lastName" type="text" class="radius" ng-model="signup.user.lastName" required/>
            </label>
            <small class="error" ng-show="signup.submitted && form.lastName.$invalid">
                {{ signup.errors.lastName }}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <!-- EMAIL -->
            <label ng-class="{'error': signup.submitted && form.email.$invalid}">Email
                <input name="email" type="email" class="radius" ng-model="signup.user.email" required/>
            </label>
            <small class="error" ng-show="signup.submitted && form.email.$invalid">
                {{ signup.errors.email }}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <!-- PASSWORD -->
            <label ng-class="{'error': signup.submitted && form.password.$invalid}">Password
                <input name="password" type="password" class="radius" ng-model="signup.user.password" required/>
            </label>
            <small class="error" ng-show="signup.submitted && form.password.$invalid">
                {{ signup.errors.password }}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <!-- CONFIRM PASSWORD -->
            <label ng-class="{'error': signup.submitted && !!signup.errors.confirmPassword}">Confirm Password
                <input name="confirmPassword" type="password" class="radius" ng-model="signup.user.confirmPassword"
                       required/>
            </label>
            <small class="error" ng-show="signup.submitted && !!signup.errors.confirmPassword">
                {{ signup.errors.confirmPassword }}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <button class="large radius button" type="submit">
                Sign up
            </button>
            <a class="large radius secondary button" ui-sref="account.login">
                Login
            </a>
        </div>
    </div>
</form>
